.cardLarge{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--gray);
    justify-content: center;
    align-items: center;
     transition: ease-in 0.1s;
    &:hover{
        border: 1px solid var(--yellow);
        cursor: pointer;
       & span{
        
            color: var(--blue);
            padding: 1px 0px;
        
    }
       
    }
    & img{
        width: 270px;
        height: 270px;
        object-fit: cover;
        padding-top: 10px;
    }
    & span{
        display: flex;
        width: 100%;
        justify-content: center;
        font-weight: 700;
        color: var(--gray);
    }

}
@media (max-width: 600px){
    .cardLarge{
    max-width: 48%;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--gray);
    justify-content: center;
    align-items: center;
     transition: ease-in 0.1s;
     overflow: hidden;
    &:hover{
        border: 1px solid var(--yellow);
        cursor: pointer;
       & span{
        
            color: var(--blue);
            padding: 1px 0px;
        
    }
       
    }
    & img{
        max-width: 100%;
        max-height: 90%;
        object-fit: cover;
        padding-top: 0px;
    }
    & span{
        display: flex;
        width: 100%;
        justify-content: center;
        font-weight: 700;
        color: var(--gray);
    }

}
}