.deals{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem;
    .container{
        width: 1300px;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: space-between;
        
    }
}
@media (max-width: 600px){
   .deals{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
    padding: 10px;
    
    .container{
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 1px;
        row-gap: 10px;
        
    }
} 
}