.categories_slide{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100vw;
    overflow-x: hidden;
    white-space: nowrap;
    padding: 20px;
   .categories_container{
    
  width: 100%;
  display: flex;
  gap: 1.5rem;
  overflow-x: auto; 
  scrollbar-width: none;
  -ms-overflow-style: none; 
    padding-bottom: 20px;
    .category_item{
        display: flex;
        flex-direction: column;
         width: 250px;
         height: 250px;
         justify-content: center;
         gap: 10px;
         
        cursor: pointer;
        .image_container{
            position: relative;
            overflow: hidden;
            width: 200px;
            height: 200px;
            .category_item_image{
            
            object-fit: contain;
            width: 100%;
            height: inherit;

        }

        }
        
        & span{
            font-weight: 600;
            font-size: 13px;
        }
    }
   }
}
 @media (max-width: 600px) {  
 }

.move-on-hover {
    animation: zoomIn 0.3s ease-in-out forwards; /* Apply the animation */
}

@keyframes zoomIn {
    0% {
        transform: scale(0.8); /* Start with the image at its original size */
    }
    100% {
        transform: scale(1); /* Enlarge the image by 20% (adjust the value as needed) */
    }
}

.image_container:hover .move-on-hover {
    animation: zoomOut 0.3s ease-in-out forwards; /* Apply the animation on hover */
}

@keyframes zoomOut {
    0% {
        transform: scale(1); /* Start with the image enlarged */
    }
    100% {
        transform: scale(0.8); /* Return the image to its original size */
    }
}
