.toast {
  position: fixed;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 7s ease-in-out;
  z-index: 9999;
  
  .hidden {
  opacity: 0;
  pointer-events: none;
}
}
.error{
    background-color: var(--red);
    color: white;
  }
.success{
    background-color: green;
    color: #fff;
}  

