.blogs{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    & h3{
        align-self: start;
        padding-left: 2rem;
        font-weight: 700;
        font-size: 25px;
        text-decoration: underline;

    }
    .containers{
        display: flex;
        flex-wrap: wrap;
        width: 1300px;
        gap: 1.5rem;
        padding: 2rem 0rem;
        justify-content: center;
       
        align-items: center;
    }
}
@media(max-width:600px){
    .blogs{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;
    & h3{
        align-self: start;
        padding-left: 1rem;
        font-weight: 700;
        font-size: 25px;
        text-decoration: underline;

    }
    .containers{
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        gap: 1rem;
        padding: 1rem;
        justify-content: start;
        align-items: flex-start;
    }
}
}